@model IEnumerable<Darshit_Practicle1.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<form method="get" asp-action="search">
    <input type="text" name="query" placeholder="serach"/>
    <input type="submit" value="search"  />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-outline-info"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></a>
                    <a asp-action="add_child" asp-route-id="@item.CategoryId" class="btn btn-outline-info">CHILD</a>
            </td>
        </tr>
}
    </tbody>
</table>
